.timer.w-100.h-100.bg-dark.d-flex.align-items-center.justify-content-center
  style(type="text/css"): :stylus
    :scope.timer
      color: #fff
      font-size: 10em
      font-weight: 700
      font-family: 'Roboto Mono', monospace
  script(type="@plotdb/block"): include:lsc index.ls
  span(ld="value")
