extends /base.pug
block head
  link(rel="preconnect",href="https://fonts.googleapis.com")
  link(rel="preconnect",href="https://fonts.gstatic.com",crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap",rel="stylesheet")
block body
  .ldcv.full(ld="ldcv"): .base
    .position-absolute.z-float.text-white.text-lg.clickable(style="top:1em;right:1em;",data-ldcv-set=""): i.i-close
    .inner(ld="container")
block script
  script(type="module"): include:lsc index.ls
